<a href="https://colab.research.google.com/github/2303A51125/B3_PFDS_1125/blob/main/LAB_ASS_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#LAB_ASS_05(2)

In [7]:
import pandas as pd

t = pd.DataFrame({
    'tid': [1, 2, 3, 4],
    'tname': ['Alice', 'Bob', 'Charlie', 'David'],
    'dept': ['CSE', 'CSE', 'AI', 'CSE']
})

c = pd.DataFrame({
    'cid': [101, 102, 103, 104, 105, 106],
    'cname': ['Python', 'DBMS', 'AI Basics', 'ML', 'OS', 'Deep Learning'],
    'tid': [1, 2, 2, 3, 4, 3]
})

print("Teachers:\n", t, "\n")
print("Courses:\n", c)

im = pd.merge(c, t, on='tid', how='inner')
lm = pd.merge(t, c, on='tid', how='left')

print("\nInner Join:\n", im)
print("\nLeft Join:\n", lm)

Teachers:
    tid    tname dept
0    1    Alice  CSE
1    2      Bob  CSE
2    3  Charlie   AI
3    4    David  CSE

Courses:
    cid          cname  tid
0  101         Python    1
1  102           DBMS    2
2  103      AI Basics    2
3  104             ML    3
4  105             OS    4
5  106  Deep Learning    3

Inner Join:
    cid          cname  tid    tname dept
0  101         Python    1    Alice  CSE
1  102           DBMS    2      Bob  CSE
2  103      AI Basics    2      Bob  CSE
3  104             ML    3  Charlie   AI
4  105             OS    4    David  CSE
5  106  Deep Learning    3  Charlie   AI

Left Join:
    tid    tname dept  cid          cname
0    1    Alice  CSE  101         Python
1    2      Bob  CSE  102           DBMS
2    2      Bob  CSE  103      AI Basics
3    3  Charlie   AI  104             ML
4    3  Charlie   AI  106  Deep Learning
5    4    David  CSE  105             OS

In [8]:
#LAB_ASS_05(1)

In [9]:
import pandas as pd

p = pd.DataFrame({
    'pid': [1, 2, 3, 4],
    'pname': ['Laptop', 'Phone', 'Tablet', 'Headphones'],
    'cat': ['Electronics', 'Electronics', 'Electronics', 'Accessories'],
    'price': [60000, 30000, 20000, 5000]
})

s = pd.DataFrame({
    'sid': [101, 102, 103, 104, 105, 106, 107],
    'pid': [1, 2, 2, 3, 4, 4, 1],
    'qty': [2, 1, 3, 2, 5, 2, 1]
})

im = pd.merge(s, p, on='pid', how='inner')
om = pd.merge(s, p, on='pid', how='outer')

im['rev'] = im['price'] * im['qty']
tot_rev = im['rev'].sum()
avg_price = p['price'].mean()
ps = im.groupby('pname')['qty'].sum().reset_index()
cs = im.groupby('cat')['rev'].sum().reset_index()
best_cat = cs.loc[cs['rev'].idxmax()]

print("Products:\n", p, "\n")
print("Sales:\n", s, "\n")
print("Inner Merge:\n", im, "\n")
print("Outer Merge:\n", om, "\n")
print("Total Revenue:", tot_rev, "\n")
print("Average Price:", avg_price, "\n")
print("Product Sales:\n", ps, "\n")
print("Category Revenue:\n", cs, "\n")
print("Best Category:\n", best_cat)

Products:
    pid       pname          cat  price
0    1      Laptop  Electronics  60000
1    2       Phone  Electronics  30000
2    3      Tablet  Electronics  20000
3    4  Headphones  Accessories   5000

Sales:
    sid  pid  qty
0  101    1    2
1  102    2    1
2  103    2    3
3  104    3    2
4  105    4    5
5  106    4    2
6  107    1    1

Inner Merge:
    sid  pid  qty       pname          cat  price     rev
0  101    1    2      Laptop  Electronics  60000  120000
1  102    2    1       Phone  Electronics  30000   30000
2  103    2    3       Phone  Electronics  30000   90000
3  104    3    2      Tablet  Electronics  20000   40000
4  105    4    5  Headphones  Accessories   5000   25000
5  106    4    2  Headphones  Accessories   5000   10000
6  107    1    1      Laptop  Electronics  60000   60000

Outer Merge:
    sid  pid  qty       pname          cat  price
0  101    1    2      Laptop  Electronics  60000
1  107    1    1      Laptop  Electronics  60000
2  102    2    1       Phone  Electronics  30000
3  103    2    3       Phone  Electronics  30000
4  104    3    2      Tablet  Electronics  20000
5  105    4    5  Headphones  Accessories   5000
6  106    4    2  Headphones  Accessories   5000

Total Revenue: 375000

Average Price: 28750.0

Product Sales:
         pname  qty
0  Headphones    7
1      Laptop    3
2       Phone    4
3      Tablet    2

Category Revenue:
            cat     rev
0  Accessories   35000
1  Electronics  340000

Best Category:
 cat    Electronics
rev         340000
Name: 1, dtype: object