<a href="https://colab.research.google.com/github/2303A51125/B3_PFDS_1125/blob/main/LAB_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import csv
with open("student_scores.csv",'w', newline = '') as fp:
  wr = csv.writer(fp)
  wr.writerow(["ID", "NAME", "MATHS","SCIENCE","ENGLISH"])
  for i in range(3):
    student_ID = int(input("Enter Student ID: "))
    Name = input("Enter Student Name: ")
    Maths = int(input("Enter Maths Marks: "))
    Science = int(input("Enter Science Marks: "))
    English = int(input("Enter English Marks: "))
    wr.writerow([student_ID, Name, Maths, Science, English])

Enter Student ID: 01
Enter Student Name: Rishaak
Enter Maths Marks: 90
Enter Science Marks: 56
Enter English Marks: 89
Enter Student ID: 02
Enter Student Name: Sumanth
Enter Maths Marks: 99
Enter Science Marks: 88
Enter English Marks: 77
Enter Student ID: 03
Enter Student Name: Sai Trishool
Enter Maths Marks: 99
Enter Science Marks: 89
Enter English Marks: 79

In [2]:
import csv
with open("student_scores.csv",'r') as fp:
  rd = csv.reader(fp)
  for row in rd:
    print(row)

['ID', 'NAME', 'MATHS', 'SCIENCE', 'ENGLISH']
['1', 'Rishaak', '90', '56', '89']
['2', 'Sumanth', '99', '88', '77']
['3', 'Sai Trishool', '99', '89', '79']

In [3]:
import csv
with open("hospital_records.csv",'w', newline = '') as fp:
  wr = csv.writer(fp)
  wr.writerow(["Patient_ID", "Name", "Age", "Gender",
"Diagnosis", "Admission_Date"])
  for i in range(3):
    Patient_ID = int(input("Enter Patient ID: "))
    Name = input("Enter Patient Name: ")
    Age = int(input("Enter Patient Age: "))
    Gender = input("Enter Patient Gender: ")
    Diagnosis = input("Enter Patient Diagnosis: ")
    Admission_Date = input("Enter Patient Admission Date: ")
    wr.writerow([Patient_ID, Name, Age, Gender,
Diagnosis, Admission_Date])

Enter Patient ID: 01
Enter Patient Name: Sai patel
Enter Patient Age: 20
Enter Patient Gender: O
Enter Patient Diagnosis: AIDS
Enter Patient Admission Date: 25-8-2025
Enter Patient ID: 02
Enter Patient Name: Sumanth
Enter Patient Age: 20
Enter Patient Gender: M
Enter Patient Diagnosis: heart arrest
Enter Patient Admission Date: 26-8-2025
Enter Patient ID: 03
Enter Patient Name: Sai Trishool
Enter Patient Age: 20
Enter Patient Gender: M
Enter Patient Diagnosis: lung cancer
Enter Patient Admission Date: 20-8-2025

In [4]:
import csv
with open("hospital_records.csv",'r') as fp:
  rd = csv.reader(fp)
  for row in rd:
    print(row)

['Patient_ID', 'Name', 'Age', 'Gender', 'Diagnosis', 'Admission_Date']
['1', 'Sai patel', '20', 'O', 'AIDS', '25-8-2025']
['2', 'Sumanth', '20', 'M', 'heart arrest', '26-8-2025']
['3', 'Sai Trishool', '20', 'M', 'lung cancer', '20-8-2025']